


nav{
    --navcolor:rgb(128, 187, 255);
    height: 5%;
    background-color: var(--navcolor);
    padding:3px
}
.header{
    display: flex;
    flex-direction: row;
    /* margin-buttom: 0px; */
}
.header h3{
    font-size: x-large;
    padding-top: 0.5%;
    margin-left: 390px;
}
.nav-container{
    font-size: 21px;
    display: flex;
    justify-content: space-around;
}
ul{
    display: flex;
/* flex-direction: row; */
}



li{
    list-style: none;
    font-style: normal;
    /* margin: auto; */
    margin-left: 50px;
}
.dropdown-menu{
    font-size: 18px;
}
.dropdown-toggle{
    margin-left: 600px;
    /* padding: 5%; */
    background-color: var(--navcolor);
}
.menu_name{
    text-decoration: none;
    color: black;
}













/* nav{

    background-color: rgb(128, 187, 255);
    width: 100%;
    height: 30%;
}
.header{
    display: flex;
    flex-direction: row;
}

.pms{
    font-size: 30px;
    text-align: center; 
    justify-content: center;
}

.menu{
    text-align: center;

}

a{
    color: black !important;
    font-size: 20px;
    font-style: normal !important;
    padding: 20px;
    margin-left: 50px;
}
 */
