nav{
    --navcolor:#E9EAFB;
    background-color: var(--navcolor)
}
.logo{
    padding:9px;
    padding-left:0%
    /* width:70%;
    height: 70%; */
    /*  */
}
h4{
    text-align: center;

}
/* 
.menu-name{
    border-bottom: 3px solid var(--navcolor);
} */
.menu-name:hover{
    color: blue !important;
    /* border-color: blue; */
}

.drop{
    margin:0%;
    padding: 0.5%;
}
.dropbtn{
    margin-left: 18px;
    border: none;
    background-color: var(--navcolor);
}

.dropbtn:hover{
}



  .dropdown-content {

    display: none;
    position: absolute;
    background-color: #fff;
    /* min-width: 50px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5%;
    z-index: 1;
    
  }
  
  .dropdown-content Link  {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    /* display: block; */
    
  }
  
  .drop:hover .dropdown-content {
      margin-left: -60px;
      margin-top: 5px;
      padding: 3px;
      display: block;
      border-radius: 5% !important;

    }
  

.dropdown-item{
    font-size: medium;
}