


nav{
    --navcolor:rgb(128, 187, 255);
    height: 5%;
    background-color: var(--navcolor);
    padding:3px
}
.header{
    display: flex;
    flex-direction: row;
    /* margin-buttom: 0px; */
}
.header h3{
    font-size: x-large;
    padding-top: 0.5%;
    margin-left: 390px;
}
.nav-container{
    margin: -8px;
    font-size: 21px;
    display: flex;
    justify-content: space-around;
    /* padding: 0%; */
}
ul{
    display: flex;
/* flex-direction: row; */
}



li{
    list-style: none;
    font-style: normal;
    /* margin: auto; */
    margin-left: 50px;
}

.menu_name:hover{
    color:white;
    /* font-style:normal; */
    text-decoration: none;
    
}
.dropdown-item{
    font-size: large;
    padding: 3%;
    margin: 0%;
}

.dropdown-menu{
    
    font-size: 18px;
    padding: 0.5%;
    /* background-color: rgb(195, 199, 255); */
    /* padding-left: 0%; */
}

.dropdown-menu :hover{
    background-color: rgb(219, 219, 219);
}
.dropdown-toggle{
    background-color: var(--navcolor);
    margin-left: 550px;

}
.dropdown-toggle :hover{
    color:white;
    /* font-style:normal; */
    text-decoration: none;
    
}

.menu_name{
    text-decoration: none;
    color: black;
}













/* nav{

    background-color: rgb(128, 187, 255);
    width: 100%;
    height: 30%;
}
.header{
    display: flex;
    flex-direction: row;
}

.pms{
    font-size: 30px;
    text-align: center; 
    justify-content: center;
}

.menu{
    text-align: center;

}

a{
    color: black !important;
    font-size: 20px;
    font-style: normal !important;
    padding: 20px;
    margin-left: 50px;
}
 */
